services:
  qashare:
    image: ghcr.io/pranaovs/qashare:containerize
    container_name: qashare
    restart: unless-stopped
    ports:
      - 8080:8080
    environment:
      - DB_URL=postgres://postgres:postgres@postgres:5432/qashare

  postgres:
    image: postgres
    expose:
      - "5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=qashare
    volumes:
      - qashare:/var/lib/postgresql

volumes:
  qashare:
